/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

body {
    padding: 5rem;
    background-image: url(../img/03.webp);
    background-attachment: fixed;
    background-position:center;
}

.items {
    position: relative;
    width: 900px;
    height: 500px;
    margin: 0 auto;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.649);
    display: flex;
}

.item {
    height: 100%;
    display: none;
    position: relative;
    width:calc(900px - 150px);
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.item.active {
    display: block;
}

.thumbs {
    height: 500px;
    background: #000;
    position: relative;
}

.thumb {
    height: calc((500px) / 5);
    opacity: 0.5;
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.thumb.active {
    border: 2px solid #ccc;
    opacity: 1;
}

.prev, .next {
    width: 20px;
    height: 20px;
    margin: 10px 0;
    border-radius: 50%;
    background: #cccccc9f;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 999;
    padding: .9rem;
}

.prev {
    top: 0;
    left: 87%;
}

.next {
    bottom: 0;
    left: 87%;
}

.prev::after {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 3px solid rgba(0, 0, 0, 0.825);
    border-right: 3px solid rgba(0, 0, 0, 0.825);
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
}

.next::before {
    content: '';
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    border-top: 3px solid black;
    border-right: 3px solid black;
    display: block;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%) rotate(135deg);
}

.preview-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }

  /* Utilities */

  .absolute {
    position: absolute;
    bottom: 5%;
    color: white;
    padding: 2rem;
    font-size: 1.2rem;
    text-align: end;
  }

/* buttons */
button {
    padding: .4rem 1rem;
    border-radius: 10px;
    color: white;
    background-color: rgb(107, 107, 255);
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.buttons {
    margin-top: 50px;
}

  #start {

  }

  #invert {
    margin: 0 20px;
  }